DISCORD_TOKEN=MTUyMzY2MzIyOTUzNDk5NDQ1Mw.GTzIi4.9vPIEiabODBoUXUqFWNS9aMZfbVlXO61hbfJdA
OPENAI_API_KEY=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
BOT_PREFIX=!
BOT_STATUS=Generating Roblox Scripts

